package templates

templ AddExerciseForm() {
	<form>
		<input placeholder="Exercise Name"/>
		<input placeholder="Description"/>
		<input placeholder="Primary Muscle Groups"/>
		<input placeholder="Secondary Muscle Groups"/>
		<button type="submit">Submit</button>
	</form>
}
