package templates

templ Index() {
<div class="mx-15">
  <h2>Welcome to the Landing page!</h2>
  <a href="/login" class="hover:text-slate-800 hover:bg-stone-300">Login</a>
  <a href="/register" class="hover:text-slate-800 hover:bg-stone-300">Register</a>
</div>
}
